:root {
  --header-section-gap: 2rem;
}

html {
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 2rem;
}

header {
  display: flex;
  gap: var(--header-section-gap);
  padding: 0.5rem 2rem;
}

header > * {
  position: relative;
}

header > *::after {
  content: '';
  position: absolute;
  top: 0;
  right: calc(-1 * var(--header-section-gap) / 2);
  width: 1px;
  height: 100%;
  background-color: #ccc;
}
header > *:last-child::after {
  display: none;
}

section .title {
  font-size: 1rem;
  font-weight: medium;
  margin-bottom: 0.5rem;
}

section .items {
  display: flex;
  gap: 0.5rem;
}

.header-section-popover-panel {
  margin-top: 5px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100px;
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
}
